flask
flask-restful
flasgger
pyjwt
python-simplexml
python-dotenv
flask-cors
email_validator
requests
RPi.Gpio==0.7.1a4
smbus2
# flask-sqlalchemy
# pymysql
# factory_boy
# alembic
# uwsgi
# pytest-cov